html {
  font-family: tahoma, arial, verdana, sans-serif, "Lucida Sans";
  font-size: 10px;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6em;
  background-color: #eee;
  padding: 0;
  margin: 0;
}

.container {
  margin: 5px auto;
  position: relative;
  width: 645px;
}

div {
  box-sizing: border-box;
}

.left-block {
  width: 320px;
  margin-right: 325px;
}

.right-block {
  float: right;
  font-size: .7em;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 320px;
}


@import "zcalc";
@import "log";